{% extends 'tasks/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% bootstrap_messages %}
<h1>{% translate 'Пользователи' %}</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% translate 'ID' %}</th>
        <th>{% translate 'Имя пользователя'%}</th>
        <th>{% translate 'Полное имя'%}</th>
        <th>{% translate 'Дата создания'%}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.pk }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.created_at }}</td>
          <td>
            <a href="{% url 'change_user' user.pk %}">{% translate 'Изменить' %}</a>
            <br>
            <a href="{% url 'delete_user' user.pk %}">{% translate 'Удалить' %}</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}