{% extends 'tasks/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% bootstrap_messages %}
<h1>{% translate 'Метки' %}</h1>
<a class="nav-link" href="{% url 'create_label' %}">{% translate 'Создать метку' %}</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% translate 'ID' %}</th>
        <th>{% translate 'Имя'%}</th>
        <th>{% translate 'Дата создания'%}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
          <td>{{ label.pk }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at }}</td>
          <td>
            <a href="{% url 'change_label' label.pk %}">{% translate 'Изменить' %}</a>
            <br>
            <a href="{% url 'delete_label' label.pk %}">{% translate 'Удалить' %}</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}